# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
dist/
build/
*.tgz
package-lock.json
yarn.lock
*.env

# Logs
logs/
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.apdisk

# VSCode
.vscode/
.vscode/*

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# React Native
*.history
.expo/
.expo-shared/

# Misc
*.bak
*.swp